<!DOCTYPE html>
<html>
<head>
  <title>RedditClone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:errors] %>
  <ul>
  <% flash[:errors].each do |error| %>
    <li>
      <%= error %>
    </li>
  <% end %>
  </ul>
<% end %>

<% if logged_in? %>
  <%= "Logged in as #{current_user.user_name}" %>
  <%= button_to "Logout", sessions_url, method: :delete %>
<% else %>
  <%= button_to "Login", new_sessions_url, method: :get %>
  <%= button_to "Register", new_users_url, method: :get %>
<% end %>

<%= yield %>

</body>
</html>
